<div class="project">
  <div class="panel">
    <ul class="links">
    <li><h3>{{ include.name }}</h3></li>
      {% if include.github %}
      <li class="right"><a href="{{ include.github }}" target="_blank"><i class="fa fa-fw fa-github"></i>GitHub</a></li>
      {% endif %}
      {% if include.rubygems %}
      <li class="right"><a href="{{ include.rubygems }}" target="_blank"><i class="fa fa-fw fa-diamond"></i>Rubygems</a></li>
      {% endif %}
    </ul>
    {{ include.description }}
  </div>
</div>